@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quadrado{
    width: 250px;
    height: 250px;
}

.quadrado-azul{
    background-color: rgb(0, 225, 255);
}
.quadrado-vermelho{
    background-color: red;
}
#terceiro {
    border: 7px dotted #6b6b6b; 
    margin: 270px 200px 150px; 
}